#container{
    height: 100%;
    width: 100vw;
   }
.holder{
    width: 100%;
    height: 100%;
    background-image: url(../../assets/pictures/front-view-stacked-books-earth-globe-open-book-pencils-education-day.jpg);
    background-size: cover;
    padding-left: 2cm;

}

    