
 <div id="container">
   

    <div class="holder" >
      
      <app-logo></app-logo>
  
      <div class="form1">     
      
        <div id="head">
          <h1 style="font-weight: bolder;">Create an account</h1>
          <p style="font-size: medium;font-weight: bold;"> Enter your email to sign up for this app</p>
        </div>
          <form class="row position-relative w-50 p-3" style="margin: 1%;">
              <div class="mb-2">
                  <div class="col-sm-50 shadow p-3 mb-4 rounded">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@email.com">
                  </div>
              </div>
              <div class="mb-2">
                  <div class="col-sm-50 shadow p-3 mb-4 rounded">
                  <input type="password" class="form-control" id="inputPassword" placeholder="password">
                  </div>
              </div>
      <!-- buttons for account  -->
              <button type="button" class="btn btn-dark shadow-sm p-3 mb-3 rounded">Register</button>
              <button type="button" class="btn btn-light shadow-sm p-3 mb-3 rounded"><svg style="float: left;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
              </svg><i class="bi bi-google">Google</i></button>
              
            
               
                
              
          </form>
          <div style="margin-left: 10%;">
              <p style="font-size:medium;font-family: 'Courier New', Courier, ;">By clicking continue  , you agree to our Terms of Service and Privacy Policy</p>
          </div>
      </div> 
      </div> 
      
  </div>
  
  
