ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-weight: bolder;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(216, 222, 224);

  }
  .box{
    width: 100%;
}

#search {
    margin: 0 auto;
    display: inline-block;
    border-radius: 2cm;
    width: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction*/
  justify-content: center;
 width: 80%;
 height: 5cm;
 margin: auto;
 background-color: white;
}

.div12{
  width: 80%;
  height: 100%;
  align-content: center;
  margin-right: 1cm;
  border-style: solid;
  border: 2px solid rgb(168, 166, 166);
  border-radius: 5px
}
.div13{
  width: 80%;
  height: 100%;
  align-content: center;
  border: 2px solid rgb(168, 166, 166);
  border-radius: 5px
 
}
.div14{
  width: 80%;
  height: 100%;
  align-content: center;
  border: 2px solid rgb(168, 166, 166);
  border-radius: 5px;

}
